@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}



html{
    font-size: 62.5%;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    gap: 30px;
    font-size: 16px ;
    font-weight: bold;
}
.home{
    color: orange;
}
.about{
    color: blue;
}
.facilities{
    color: green;
}
.admission{
    color: cornflowerblue;
}