@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}



html {
    font-size: 62.5%;
}

body {
    /* background-color: red; */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}


.flex {
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    gap: 3rem;
    font-size: 16px;
    font-weight: bold;
}

.home {
    color: orange;
}

.about {
    color: blue;
}

.facilities {
    color: green;
}

.admission {
    color: cornflowerblue;
}

.navbar-logo {
    width: 62px;
    height: 62px;
}

.navbar-logo img {
    width: 100%;
    height: 100%;
}

.navbar-logo h2 {
    font-size: 2rem;
    font-weight: bold;
}

.btn {
    padding: 12px 40px;
    background-color: orange;
    border-radius: 8px;
    color: white;
}







/* hero section start end  */
.hero-item-prent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-item-prent-title {
    max-width: 640px;
    text-align: left;
}

.hero-item-prent-title h1 {
    font-size: 56px;
    line-height: 110%;
    font-weight: 700;
}

.hero-item-prent-title p {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin: 1.3rem 0;
}

.spn1 {
    color: orange;
}

.spn2 {
    color: black;
}

.spn3 {
    color: hwb(197 14% 41%);
}



/* hero section start end  */



/* responsive mobaile divice  */

@media screen and (max-width: 576px) {
    ul li{
        display: none;
    }

    
}