@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Quicksand", sans-serif;
}



html{
    font-size: 62.5%;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}