@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}



html {
    font-size: 62.5%;
}

body {
    /* background-color: red; */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}


.flex {
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    gap: 3rem;
    font-size: 16px;
    font-weight: bold;
}

.home {
    color: orange;
}

.about {
    color: blue;
}

.facilities {
    color: green;
}

.admission {
    color: cornflowerblue;
}

.navbar-logo {
    width: 62px;
    height: 62px;
}

.navbar-logo img {
    width: 100%;
    height: 100%;
}

.navbar-logo h2 {
    font-size: 2rem;
    font-weight: bold;
}

.btn {
    padding: 12px 40px;
    background-color: orange;
    border-radius: 8px;
    color: white;
}







/* hero section start end  */
.hero-item-prent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-item-prent-title {
    max-width: 640px;
    text-align: left;
}

.hero-item-prent-title h1 {
    font-size: 56px;
    line-height: 110%;
    font-weight: 700;
}

.hero-item-prent-title p {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin: 1.3rem 0;
}

.spn1 {
    color: orange;
}

.spn2 {
    color: black;
}

.spn3 {
    color: hwb(197 14% 41%);
}

.hero-item-prent-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* hero section start end  */


.crad-toph1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.crad-toph1 h1 {
    color: rgba(0, 0, 0, 1);
    font-family: Quicksand;
    font-style: Bold;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
}

.crad-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crad-box {
    width: 367.8px;
    height: 476.78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
    box-sizing: border-box;
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);

}

.crad-box h1 {
    color: rgba(32, 32, 32, 1);
    font-family: Quicksand;
    font-style: Bold;
    font-size: 24.52px;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
}

.crad-box p {
    color: rgba(128, 128, 128, 1);
    font-family: Raleway;
    font-style: Medium;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}

.crad-box .a1 {
    color: blue;
}

.a2 {
    color: green;
}

.a3 {
    color: red;
}


.grid-container {
    display: grid;

    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;

}


.grid-crad.big {
    grid-row: span 2;
}

.grid-crad {
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid;

}

.grid-crad-title{
    padding: 16px;
}

{
    
}

.grid-crad img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    object-fit: cover;

}








/* responsive mobaile divice  */

@media screen and (max-width: 576px) {
    ul li {
        display: none;
    }

    .hero-item-prent {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero-item-prent-title {
        width: 100%;
        text-align: center;
    }

    .hero-item-prent-title p {
        width: 100%;
        text-align: center;
    }

    .hero-item-prent-title h1 {
        width: 100%;
        text-align: center;
    }

    /* .navbar-content {
        width: 90%;
        position: fixed;
        top: 0;
    } */


    .crad-container {
        flex-direction: column;
        gap: 5px;
    }

    .crad-box {
        width: 100%;
    }

}