@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}



html {
    font-size: 62.5%;
}

body {
    /* background-color: red; */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.navbar-content {}

.flex {
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    gap: 3rem;
    font-size: 16px;
    font-weight: bold;
}

.home {
    color: orange;
}

.about {
    color: blue;
}

.facilities {
    color: green;
}

.admission {
    color: cornflowerblue;
}

.navbar-logo {
    width: 62px;
    height: 62px;
}

.navbar-logo img {
    width: 100%;
    height: 100%;
}

.navbar-logo h2 {
    font-size: 2rem;
    font-weight: bold;
}

.btn {
    padding: 12px 40px;
    background-color: orange;
    border-radius: 8px;
    color: white;
}